<phpunit
    colors="true"
    stopOnError="true"
    stopOnFailure="true"
    bootstrap="./vendor/autoload.php">

    <testsuite name="Unit test suite">
        <directory>./tests</directory>
    </testsuite>

    <filter>
        <whitelist>
            <directory suffix=".php">./src</directory>
        </whitelist>
    </filter>

    <logging>
        <log type="coverage-html" target="./build/coverage" lowUpperBound="75" highLowerBound="95"/>
        <log type="coverage-clover" target="./build/logs/clover.xml"/>
        <log type="junit" target="./build/logs/junit.xml" logIncompleteSkipped="false"/>
        <log type="testdox-html" target="./build/logs/testdox.html"/>
        <log type="testdox-text" target="./build/logs/testdox.txt"/>
    </logging>

</phpunit>
